body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.headerContainer {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 2em;
  color: white;
  justify-content: space-between;
  font-size: 1em;
  z-index: 999;
}

.headerLeft {
  display: flex;
}

.headerRight {
  display: flex;
  gap: 2em;
}

.loadupMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 6rem;
  position: absolute;
  top: 2.5em;
  margin-top: 0;
}

.WavyBackground {
  width: 100vw;
}

.typeWritter {
  position: relative;
  /* bottom: 3em; */
}

.homePageContainer {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.animatedBackground {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* scroll-snap-align: start; */
  flex-direction: column;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative; /* Ensure correct positioning */
}

.aboutMeAndProjects {
  height: 100vh;
  width: 100%;
  background-color: rgb(17, 19, 22);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.aboutMeSection {
  display: flex;
  width: 70%;
  gap: 10em;
}

.myImage img {
  border-radius: 5%;
  display: flex;
  flex-grow: 2;
}

.aboutMe {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.project {
  display: flex;
}

.projectDiv {
  display: flex;
  gap: 2px;
}
