body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
}

.headerContainer {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 2em;
  color: white;
  justify-content: space-between;
  font-size: 1em;
  z-index: 999;
}

.headerLeft {
  display: flex;
}

.headerRight {
  display: flex;
  gap: 2em;
}

.WavyBackground {
  width: 100%;
}

.homePageContainer {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.aboutMeAndProjects {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.aboutMeSection {
  display: flex;
  width: 70%;
  gap: 10em;
}

.myImage img {
  border-radius: 5%;
  display: flex;
  flex-grow: 2;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* align-items: center; */
}

.projects {
  width: 70%;
}

.sectionTitle {
  font-size: 3em;
  background: -webkit-linear-gradient(#50a2ef, #59b5ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nameText {
  background: -webkit-linear-gradient(#50a2ef, #59b5ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nameGradient {
  font-weight: 600;
  background: -webkit-linear-gradient(#2f7abf, #59b5ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
