body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
}

.headerContainer {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 2em;
  color: white;
  justify-content: space-between;
  font-size: 1em;
  z-index: 999;
}

.headerLeft {
  display: flex;
}

.headerRight {
  display: flex;
  gap: 2em;
}

.WavyBackground {
  width: 100%;
}

.homePageContainer {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.aboutMeAndProjects {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.aboutMeSection {
  display: flex;
  width: 70%;
  gap: 10em;
}

.myImage img {
  border-radius: 5%;
  display: flex;
  flex-grow: 2;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* align-items: center; */
}

.projects {
  width: 70%;
}

.sectionTitle {
  font-size: 3em;
  background: -webkit-linear-gradient(#50a2ef, #59b5ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nameText {
  background: -webkit-linear-gradient(#50a2ef, #59b5ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nameGradient {
  font-weight: 600;
  background: -webkit-linear-gradient(#2f7abf, #59b5ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__viewport {
  width: 100%;
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slideContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  height: 100%;
}

.slideImage {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.slideText {
  width: 100%;
  flex-grow: 1; /* Ensure text container grows to fill remaining space */
}

.slideText h3 {
  margin: 10px 0;
}

.slideText p {
  color: #666;
}

.technologies {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.technologies li {
  margin: 5px;
  padding: 5px 10px;
  background: -webkit-linear-gradient(#2f7abf, #59b5ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 5px;
}
